* {
    font-family: arial;
}

body {
    margin: 20px;
    padding: 20px;
}

header {
    font-family: arial, sans-serif; 
    color: white;
    background: black;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.topnav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    background: salmon;
    position: sticky;
}

h1 {
    float: center;
}

.topnav ul li {
    display:inline-block;
    vertical-align: top;
    margin: 0 40px;
    font-size: 20px;
}

.topnav a {
    text-decoration-style: none;
    text-decoration: none;
    color: black;
    display: block;
}

.topnav a:hover {
    color: red;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    padding: 1vw;
    text-align: center;;
}

.container {
    width: 1600px;
    margin-bottom: -10px;
}

img {
    width:100%; 
    height:100%; 
    object-fit:none;
  }

.quack {
    font-size: 10em;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bolder;
}

.quack:hover {
    color: green;
}

footer {
    display: block;
    float: center;
    background: salmon;
}

.socials {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: -20px;
    background: salmon;
}

.socials a {
    height: 50px;
    width: 50px;
}

.socials img {
    height: 45px;
    width: 45px;
    display: block;
    border: salmon;
    border-radius: 50%;
    padding: 10px;
    background: salmon;
}

.socials img:hover {
    background: red;
}

form {
    font-family: sans-serif;
}

.contact-header {
    text-align: center;
}

.form-space {
    margin-bottom: 20px;
    max-width: 100%;
}

#message-box { 
    width: 980px;
    height: auto;
    display: block;
    border-radius: 2px;
    resize: none;
}

#name {
    display: flex;
    flex-direction: column;
    width: 960px;
    display: block;
    border-radius: 2px;
    padding: 10px;
}

#email {
    display: flex;
    flex-direction: column;
    width: 960px;
    display: block;
    border-radius: 2px;
    padding: 10px;
}

#send-button {
    font-size: 100%;
    font-family: inherit;
    padding: 15px;
    border-radius: 1px;
    background: salmon;
    color: black;
    margin: 20px 0 50px 0;
}

#send-button:hover {
    background: red;
    color: salmon;
}