body {
    margin: 20px;
    padding: 20px;
}

header {
    font-family: arial, sans-serif; 
    color: white;
    background: black;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    background: salmon;
    position: sticky;
}

h1 {
    float: center;
}

nav ul li {
    display:inline-block;
    vertical-align: top;
}

nav a {
    text-decoration-style: none;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

.container img {
    max-width:30%;
    max-height:30%;
}